body{
    margin: 0%;
}
h1{
    background-color: red;
    color: white;
    border: 10px;
    margin: 3px;
    padding: 4px;
    width: 12;
}
h2{
    width: max-content;
    height: 180%;
    font-size: 44px;
}
a{
    width: fit-content;
    height: fit-content;
    background-color: aqua;

    
}
a:hover{
    background-image: linear-gradient(cyan, gold);
}
#feed{
    background-color: red;
    color: white;
    padding: 24px;
    margin: 12px;
}
button{
    background-color: blue;
    color: white;
    font-size: larger;
    padding-left: 22px;
    
}
#but{
    background-color: white;
    color: black;
}
img{
    border-radius: 10px;
}